// Variables to override Bootstrap

// $primary: $blue !default;
$primary: #5b2b2a;

// $body-color: $gray-900 !default;
$body-color: #4d3526;

// $border-color: $gray-300 !default;
$border-color-base: #d68f54;
$border-color: lighten($border-color-base, 15);

// $input-color: $gray-700 !default;
$input-color: $body-color;
// $input-border-color: $gray-400 !default;
$input-border-color: $border-color;
// $input-focus-border-color: lighten($component-active-bg, 25%) !default;
$input-focus-border-color: darken($border-color, 10);
// $input-btn-focus-color: rgba($component-active-bg, .25) !default;
$input-btn-focus-color: rgba(250, 147, 5, .35);
// $input-placeholder-color: $gray-600 !default;
$input-placeholder-color: #a3795f;

// $custom-control-indicator-bg: $gray-300 !default;
$custom-control-indicator-bg: #fff;
// $custom-select-indicator-color: $gray-800 !default;
$custom-select-indicator-color: $input-color;
