@import 'bootstrap.custom';

.options {
  background: lighten(#ffcb7b, 15);
  color: $primary;

  label {
    &:not(.custom-control-label) {
      font-size: .875rem;
      margin-bottom: .375rem;
    }
  }

  .text-muted {
    color: lighten($primary, 10) !important;
  }
}

.table {
  thead {
    th {
      border-top: 0;
    }
  }

  td {
    [colspan='8'] {
      text-align: center;
    }
  }
}

.icon {
  // sass-lint:disable-block space-around-operator

  display: inline-block;
  margin-right: 5px;

  &.gold {
    background: url('../img/gold@2x.png') center / 9px;
    height: 9px;
    width: 9px;
  }

  @at-root %normal-sprite {
    height: 16px;
    vertical-align: -.125rem;
    width: 16px;
  }

  @at-root %springobjects {
    @extend %normal-sprite;
    background: url('../img/springobjects@2x.png') center / 384px 544px;
  }

  &.crop {
    @extend %springobjects;
  }

  &.basic-fertilizer {
    @extend %springobjects;
    background-position: -128px -240px;
  }

  &.quality-fertilizer {
    @extend %springobjects;
    background-position: -144px -240px;
  }

  &.speed-gro {
    @extend %springobjects;
    background-position: -144px -304px;
  }

  &.deluxe-speed-gro {
    @extend %springobjects;
    background-position: -160px -304px;
  }

  @at-root %profession {
    @extend %normal-sprite;
    background: url('../img/professions@2x.png') center / 96px 80px;
  }

  &.tiller {
    @extend %profession;
    background-position: -16px 0;
  }

  &.agriculturist {
    @extend %profession;
    background-position: -80px 0;
  }
}
