$very-pale-yellow: #fff4d9;
$dark-brown: #4d3526;

body {
  background-color: lighten($very-pale-yellow, 2%);
  color: $dark-brown;
}

.date-form {
  margin: 1.25rem 0;
  padding-top: .75rem;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stardew-valley-menu-style {
  // Gradient as that used in Stardew Valley menus, see MenuTiles.png
  $gradient: #eba867, #ffcb7b;
  background: linear-gradient(0deg, nth($gradient, 1) 0%, nth($gradient, 2) 100%);
  // box-shadow used to create a multiple border effect. Colours from the border used on Stardew Valley menus, see MenuTiles.png
  $border: #d68f54, #853605, #fa9305, #b14e05, #5b2b2a;
  box-shadow: 0 0 0 2px nth($border, 1), 0 0 0 4px nth($border, 2), 0 0 0 6px nth($border, 3), 0 0 0 8px nth($border, 4), 0 0 0 10px nth($border, 5);

  $label-text: #5b2b2a;

  label {
    color: $label-text;

    &:not(.form-check-label) {
      font-size: .875rem;
      margin-bottom: .375rem;
    }
  }

  .text-muted {
    color: lighten($label-text, 10) !important;
  }

  .form-control,
  .custom-select {
    $input-border: #d68f54;
    background-color: $very-pale-yellow;
    border-color: $input-border;
    color: $dark-brown;

    &:focus {
      $input-glow: rgba(250, 147, 5, .35);
      box-shadow: 0 0 0 .2rem  $input-glow;
    }
  }

  .form-control {
    ::placeholder {
      $placeholder-text: #a3795f;
      color: $placeholder-text;
    }
  }
}

.table {
  thead {
    th {
      border-top: 0;
    }
  }

  td {
    [colspan='8'] {
      text-align: center;
    }
  }
}

.icon {
  // sass-lint:disable-block space-around-operator

  display: inline-block;
  margin-right: 5px;

  &.gold {
    background: url('../img/gold@2x.png') center / 9px;
    height: 9px;
    width: 9px;
  }

  @at-root %normal-sprite {
    height: 16px;
    vertical-align: text-top;
    width: 16px;
  }

  @at-root %springobjects {
    @extend %normal-sprite;
    background: url('../img/springobjects@2x.png') center / 384px 544px;
  }

  &.crop {
    @extend %springobjects;
  }

  &.basic-fertilizer {
    @extend %springobjects;
    background-position: -128px -240px;
  }

  &.quality-fertilizer {
    @extend %springobjects;
    background-position: -144px -240px;
  }

  &.speed-gro {
    @extend %springobjects;
    background-position: -144px -304px;
  }

  &.deluxe-speed-gro {
    @extend %springobjects;
    background-position: -160px -304px;
  }

  @at-root %profession {
    @extend %normal-sprite;
    background: url('../img/professions@2x.png') center / 96px 80px;
  }

  &.tiller {
    @extend %profession;
    background-position: -16px 0;
  }

  &.agriculturist {
    @extend %profession;
    background-position: -80px 0;
  }
}
