$very-pale-yellow: #fff4d9;
$dark-brown: #4d3526;

body {
  background-color: lighten($very-pale-yellow, 2%);
  color: $dark-brown;
}

header {
  h1 {
    margin-top: .5rem;
  }
}

.date-form {
  margin: 1.25rem 0;
  padding-top: .75rem;
}

.stardew-valley-menu-style {
  // Gradient as that used in Stardew Valley menus, see MenuTiles.png
  $gradient: #eba867, #ffcb7b;
  background: linear-gradient(0deg, nth($gradient, 1) 0%, nth($gradient, 2) 100%);
  // box-shadow used to create a multiple border effect. Colours from the border used on Stardew Valley menus, see MenuTiles.png
  $border: #d68f54, #853605, #fa9305, #b14e05, #5b2b2a;
  box-shadow: 0 0 0 2px nth($border, 1), 0 0 0 4px nth($border, 2), 0 0 0 6px nth($border, 3), 0 0 0 8px nth($border, 4), 0 0 0 10px nth($border, 5);

  $label-text: #5b2b2a;

  label {
    color: $label-text;
  }

  .form-check-label {
    color: lighten($dark-brown, 10);

    .text-muted {
      color: lighten($label-text, 10) !important;
    }
  }

  .form-control,
  .custom-select {
    $input-border: #d68f54;
    background-color: $very-pale-yellow;
    border-color: $input-border;
    color: $dark-brown;

    &:focus {
      $input-glow: rgba(250, 147, 5, .35);
      box-shadow: 0 0 0 .2rem  $input-glow;
    }
  }

  .form-control {
    ::placeholder {
      $placeholder-text: #a3795f;
      color: $placeholder-text;
    }
  }
}

.table {
  thead {
    th {
      border-top: 0;
    }
  }

  td {
    [colspan='8'] {
      text-align: center;
    }
  }
}

.icon {
  display: inline-block;
  margin-right: 5px;

  &.gold {
    background: url('../img/gold@2x.png') center / 9px;
    height: 9px;
    width: 9px;
  }

  &.crop {
    background: url('../img/springobjects@2x.png') center / 384px 544px;
    height: 16px;
    width: 16px;
  }

  &.fertilizer {
    background: url('../img/springobjects@2x.png') center / 384px 544px;
    height: 16px;
    width: 16px;

    &.basic-fertilizer {
      background-position: -128px -240px;
    }

    &.quality-fertilizer {
      background-position: -144px -240px;
    }

    &.speed-gro {
      background-position: -144px -304px;
    }

    &.deluxe-speed-gro {
      background-position: -160px -304px;
    }
  }

  &.profession {
    background: url('../img/professions@2x.png') center / 96px 80px;
    height: 16px;
    width: 16px;

    &.tiller {
      background-position: -16px 0;
    }

    &.agriculturist {
      background-position: -80px 0;
    }
  }
}
