# dist/ is for built, compiled code and is pushed directly to branch origin/gh-pages
# Therefore it's ignored here
dist/

# Ignore our data for the moment
app/js/crops.json

# Ignore the sprites for the moment
app/img/*.png
